@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    background: url(../src/background.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    max-width: 1280px;
    height: 150vh;
    margin: 0 auto;
}

.containerForm {
    width: 500px;
    height: 500px;
    text-align: center;
    margin: 10% 0 0 30%;
    border-radius: 10px;


}

.cadForm {
    width: 500px;
    height: 600px;
    text-align: center;
    margin: 0 0 0 30%;
    border-radius: 10px;
}

.cadForm label {

    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    padding-right: 0.5rem;
    text-shadow: darkgray;
}

.cadForm button {

    width: 200px;
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.containerForm label {

    font-size: 2rem;
    font-weight: 500;
    color: white;
    padding-right: 1rem;
    text-shadow: darkgray;
}

.containerForm button {


    font-size: 1.5rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

header {
    display: flex;
    width: 998px;
    height: 45px;
    justify-content: space-between;
    align-items: center;
}

.Login-text {
    font-size: 1.5rem;
    font-weight: 300;
    color: gainsboro;
    padding-right: 1rem;

}

.Login-footer {
    font-size: 0.8rem;
    font-weight: 300;
    color: white;
    padding-right: 1rem;

}


.containerForm button:hover {
    opacity: 1.0;
}

.alert {
    margin-top: 20px;
}